html
    head
        title Django Girls blog
        link(href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css")
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
    body
        .page-header
            h1
                a(href="/") Django Girls Blog
        .content container
            .row
                .col-md-8
                    each post in posts
                        .post
                            .date
                                p published: #{ post.published_date}
                            h1
                                a(href="")= post.title
                            p= post.text|linebreaks
